# ASSIGNMENT 1

Answer.1->

In [9]:
for i in range(10):
    print(i);

0
1
2
3
4
5
6
7
8
9

In [10]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

Answer.2->

In [11]:
sum = 0
for i in range(10):
    sum +=i
    
print(sum)

45

In [12]:
i=0
sum=0
while(i<10):
    sum+=i;
    i=i+1

print(sum)

45

Answer.3->

In [33]:
unit = int(input("enter the unit of bill"))
charge=0
if unit>300:
    c = unit-300
    charge = charge + c*20
    unit = unit - c
if(unit<=300 & unit>200):
    c = unit-200
    charge = charge + c*10
    unit = unit - c
if(unit<=200 & unit>100):
    c = unit - 100
    charge = charge + c *6
    unit = unit-c
if(unit<=100):
    charge = charge + unit*4.5
    
    
print(charge)

enter the unit of bill310
2250.0

Answer.4->

In [34]:
l = list(range(1,101))

In [42]:
l1 = []
for i in l:
    t = i**3
    if (i%4==0 or i%5 == 0):
        l1.append(i)
print(l1)

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

Answer.3->

In [43]:
string = "I want to be a data scientist"
count =0
for i in string:
    if(i=='a' or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I"or i == "O" or i == "U"):
        count +=1
print(count)

10