In [8]:
#pip install ipython-sql

In [9]:
#pip install pymysql

In [7]:
%load_ext sql

In [12]:
%sql mysql+pymysql://root@127.0.0.1/demo

In [19]:
%%sql 
CREATE TABLE persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

 * mysql+pymysql://root@127.0.0.1/demo
0 rows affected.

[]

In [20]:
%%sql
INSERT INTO persons (PersonID, LastName, FirstName, Address, city)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006');

 * mysql+pymysql://root@127.0.0.1/demo
1 rows affected.

[]

In [22]:
%%sql
Select * from persons;

 * mysql+pymysql://root@127.0.0.1/demo
1 rows affected.

[(0, 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006')]